@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/*=======================================================
			BODY:
========================================================*/

body {
    font-family: 'Comfortaa', sans-serif;
    line-height: 1.8;
    letter-spacing: 0.05em;
    color: white;
    background: #1d1d27;
}

/*=======================================================
			РАЗНОЕ:
========================================================*/

h1 {
    font-size: 55px;
    font-weight: bold;
    line-height: 1.3em;
    color: #fff;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

.section-title {
    margin: 0;
}

.section-title:after {
    content: "";
    position: relative;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 4px;
    display: block;
    background-color: #f6b50f;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 5px;
    margin: 30px 0;
}

.sub {
    color: #e3e3e3;
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 500;
}

/*=======================================================
			NAVBAR
========================================================*/

.navbar {
    transition: all .2s ease-in-out;
}

.navbar-back {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbar .navbar-brand {
    font-weight: bold;
    letter-spacing: 0.3em;
    color: #fff;
}

.navbar .navbar-brand span {
    color: #f6b50f;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    padding: 0 0.8rem;
    transition: all .2s ease-in-out;
}

.navbar .navbar-nav .nav-link:hover {
    color: #f6b50f;
}

.navbar .navbar-nav .nav-link.active {
    color: #f6b50f;
    font-weight: 700;
}

.navbar .navbar-nav .active > .nav-link {
    color: #f6b50f;
}

.navbar .navbar-nav .btn {
    position: relative;
    top: -15px;
    margin-left: 15px;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler i {
    font-size: 2.5rem;
    color: #fff;
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover {
    border: none;
    outline: 0;
}

/*=======================================================
			БАННЕР:
========================================================*/

.banner {
    background: url(../img/header.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.banner .container .caption {
    padding-top: 180px;
}

.banner .container .caption h1 {
    margin-bottom: 20px;
}

.banner .container .caption p {
    margin-bottom: 20px;
}

.banner .container .caption .btn {
    margin-bottom: 40px;
}

.banner .container .caption img {
    width: 800px;
}

/*=======================================================
			ПРОЕКТЫ
========================================================*/

.projects {
    padding: 100px 0;
    text-align: center;
}

.projects .title-container {
    margin: 0 auto;
}

.projects .item {
    margin: 40px 20px;
}

.projects .item img {
    box-shadow: 0 3px 15px rgba(76, 76, 77, 0.15);
}

.projects .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #4ac18c;
    background: transparent;
}

.projects .owl-theme .owl-controls .owl-page.active span,
.projects .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #4ac18c;
}

.projects .item img {
    background: white;
    border-radius: 10px;
}

/*=======================================================
			КОМАНДА И МЕНТОРЫ:
========================================================*/

.team {
    padding: 120px 0;
    text-align: center;
}

.team .title-container {
    margin: 40px auto;
}

.team .member img {
    width: 250px;
    margin: 0 auto;
}

.team .member h4 {
    margin-top: 15px;
}

.team .member h4:after {
    content: "";
    position: relative;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    display: block;
    background-color: #4ac18c;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 5px;
    margin: 15px 0;
}

.team .member .social-media {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.team .member .social-media li {
    display: inline-block;
    background: #4ac18c;
    transition: all .2s ease-in-out;
    border-radius: 100%;
    line-height: 2.5;
    margin: 0 8px 8px 0;
    width: 40px;
    height: 40px;
}

.team .member .social-media li a {
    color: #fff;
}

.team .member .social-media li:hover {
    cursor: pointer;
    background: #41956f;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.team .member .social-media i {
    font-size: 1.8em;
    transform: translate(0.01em, 0.2em)
}

#mentors .row h4 span {
    color: #4ac18c;
}

#mentors .row p {
    font-size: 0.8em;
}

/*=======================================================
			ТЕХНОЛОГИИ:
========================================================*/

#technology {
    padding: 120px 0;
    text-align: center;
}

#technology .title-container {
    margin: 0 auto;
}

#technology .item {
    margin: 25px 0;
}

#technology .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #4ac18c;
    background: transparent;
}

#technology .owl-theme .owl-controls .owl-page.active span,
#technology .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #4ac18c;
}


/*=======================================================
			FOOTER:
========================================================*/

#footer {
    background: url(../img/footer.png);
    background-size: cover;
    background-position: top center;
    padding: 120px 0 40px 0;
    color: #fff;
}

#footer .title-container {
    margin: 0 auto;
}

#footer form {
    margin: 40px 0;
}

#footer form .form-group label {
    font-size: 14px;
    font-weight: 700;
}

#footer form .form-group .form-control {
    padding: 13px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border: 1px solid #DDE4F4;
    outline: none;
}

#footer form .btn {
    margin: 1rem 0;
}

#footer p {
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    opacity: 0.6;
}

/*=======================================================
			МОБИЛЬНАЯ АДАПТАЦИЯ:
========================================================*/

@media (max-width: 992px) {
    .banner .container .row .caption h1 {
        font-size: 48px;
    }

    section .container .row h2 {
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    .navbar-collapse li {
        margin: 1em auto 0 auto;
    }

    .navbar-back {
        background: rgba(0,0,0,.7);
    }
    #home .navbar .navbar-collapse .navbar-nav .btn {
        position: static;
    }
}

@media (max-width: 767px) {
    #home .banner .caption h1 {
        font-size: 34px;
    }
}